[trainer]
batch_size = 200

# increase the safety space in ORCA demonstration for robot
safety_space = 0.15


[train]
rl_learning_rate = 0.001
# number of batches to train at the end of training episode
train_batches = 2
# training episodes in outer loop
train_episodes = 20000
# number of episodes sampled in one training episode
sample_episodes = 1
evaluation_interval = 10
# the memory pool can roughly store 2K episodes, total size = episodes * 50
capacity = 100000
checkpoint_interval = 1000

value_loss_coef = 0.5
entropy_coef = 0.01
